### Задание 1
#### Импортируйте библиотеки pandas и numpy.
##### Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
#### Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
#### Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
#### Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
#### Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [36]:
import warnings

warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [7]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
boston['feature_names']

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [11]:
data = boston['data']
feature_names = boston['feature_names']
target = boston['target']

In [12]:
X = pd.DataFrame(data, columns = feature_names)
y = pd.DataFrame(target, columns = ['price'])

In [20]:
# X.describe(), X.info()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [31]:
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_train_scaled = pd.DataFrame(X_train_scaled, columns = feature_names)
# X_test_scaled = scaler.fit_transform(X_test)
# X_test_scaled = pd.DataFrame(X_test_scaled, columns = feature_names)

In [39]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [58]:
y_pred_lr = lr.predict(X_test)
y_pred_lr.shape

(152, 1)

In [60]:
ch_l = pd.DataFrame({
    'y_test' : y_test['price'],
    'y_pred_lr' : y_pred_lr.flatten()
})
ch_l

     y_test  y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]

In [61]:
r2_score(y_pred_lr, y_test)
### Без стандартизации рез по метрике r2 лучше

0.669370269149561

### Задание 2
#### Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
#### Сделайте агрумент n_estimators равным 1000,max_depth должен быть равен 12 и random_state сделайте равным 42.
#### Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],чтобы получить из датафрейма одномерный массив Numpy,так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
#### Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
#### Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [56]:
model = RandomForestRegressor(max_depth = 12, random_state = 42, n_estimators = 1000)

In [57]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [63]:
y_pred_rf = model.predict(X_test) 
y_pred_rf.shape

(152,)

In [67]:
r2_score(y_pred_rf, y_test)

0.8481499145965063

In [68]:
result = pd.DataFrame({
    'y_real' : y_test['price'],
    'y_pred_lr' : y_pred_lr.flatten(),
    'y_pred_rf' : y_pred_rf
})
result

     y_real  y_pred_lr  y_pred_rf
173    23.6  28.648960  22.846138
274    32.4  36.495014  31.156114
491    13.6  15.411193  16.297226
72     22.8  25.403213  23.821036
452    16.1  18.855280  17.212148
..      ...        ...        ...
441    17.1  17.403672  13.487707
23     14.5  13.385941  15.132395
225    50.0  39.983425  42.910700
433    14.3  16.682863  15.634989
447    12.6  18.285618  16.096549

[152 rows x 3 columns]

In [69]:
### Модель регрессии случайного леса в данной выборке и без стандартизации показала себя значительно лучше

### Задание 3
#### Вызовите документацию для класса RandomForestRegressor,найдите информацию об атрибуте feature_importances_.С помощью этого атрибута найдите сумму всех показателей важности,установите, какие два признака показывают наибольшую важность.

In [70]:
?RandomForestRegressor

In [76]:
feat_imp = model.feature_importances_
print(feat_imp)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]

In [78]:
match = pd.DataFrame({
    "feature" : feature_names,
    "importances" : feat_imp
})
match
### Самыми важными атрибутами являются RM и LSTAT

    feature  importances
0      CRIM     0.032117
1        ZN     0.001550
2     INDUS     0.007094
3      CHAS     0.001149
4       NOX     0.014368
5        RM     0.402705
6       AGE     0.014245
7       DIS     0.064033
8       RAD     0.004968
9       TAX     0.011692
10  PTRATIO     0.018090
11        B     0.012311
12    LSTAT     0.415679

In [79]:
feat_imp.sum()

0.9999999999999999